.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color:blue;
  color: #fff;
  padding-top: 60px;
  transition: width 0.3s;
}


.sidebar a {
  display: block;
  padding: 15px 20px;
  color: #f1f1f1;
  text-decoration: none;
  font-size: 18px;
   margin: 20px;
} 

.sidebar a:hover {
  background-color: #575757;
}


.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}


.main-content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s;
 
}
.main-content h1{
  color: blue;
  font-family: sans-serif;
  margin: 26px;
}
.main-content p{
  margin: 26px;
}
.toggle-btn {
  position: absolute;
  top: 15px;
  left: 260px;
  font-size: 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: left 0.3s;
}


.sidebar.collapsed {
  width: 80px;
}

.main-content.collapsed {
  margin-left: 80px;
}

.toggle-btn.collapsed {
  left: 90px;
}
.a {
  color: blue;
  font-family: sans-serif;
  margin-top: -500px;
  padding-left: 750px;
}
